body{
	text-align: center;
	background: transparent url('../images/rodeo.jpg') no-repeat center;
	background-size: cover;
	margin: 0;
}

.content{
	background-color: rgba(206,56,36,.7);
	padding-top: -3em;
}

h1{
	color: #a67a67;
	text-align: center;
	margin-top: 2em;
	padding-top: .5em;
	font-family: 'Alfa Slab One', cursive;
	font-size: 60px;
	padding-bottom: 1em;
	text-shadow: 3px 3px 10px black;
}

h2{
	font-family: arial;
	color: #1c1a1b;
	padding-top: 4em;
	font-weight: lighter;
	text-transform: uppercase;
}

p{
	font-family: 'Alfa Slab One', cursive;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
	padding-bottom: 1em;
}

.icons{
	background-color: white;
	border: 2px solid black;
	border-radius: 25px;
	padding: 4em;
	margin-right: 3em;
}
